__pycache__/
*.pyc
.coverage*
htmlcov
db.sqlite3
docker-compose.yml
env
venv
.dist
.venv
.env*
.python-version
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
coverage.xml
.idea
local.py
*.DS_Store
static
cache
builds
current.py
media
data/
**/public
vendor/
composer.*
